<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DMOCRTZR</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/app/preSurvey">Opinion phase</a></li>
        <li><a href="">Applicant rating</a></li>
        <li><a href="#/app/results">Results</a></li>
      </ul>

    </div> <!-- .navbar-fluid -->
  </div>
</div>

<!--Include app states here-->

<div ui-view></div>